body{
  beckgraund-image: url (local de onde vai colocar a imagem ) 
  beckgraund- size: cover;
  beckgraund-repeat:  no- repeat ;
  beckgraund-attachment: fixed
  beckgraund-position: cenetr center ;
  color :black ;
  font-family:; BlackFlag
